/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css");

/* common variables */
:root {
  --width: 80ch;
  --font-main: "Hack", monospace;
  --font-monospace: "Hack", monospace;
  --font-secondary: "Atkinson Hyperlegible", monospace;
}

/* colors */
:root {
  --color-base: hsl(343, 81%, 40%);
  --background-color: #222129;
  --heading-color: var(--color-base);
  --text-color: #ffa86a;
  --text-color: #d1d5db;
  --link-color: var(--color-base);
  --visited-color: color-mix(in srgb, var(--text-color) 90%, var(--color-base));
  --code-background-color: hsl(343, 20%, 20%);
  --code-color: #d1d5db;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-base: #be133c;
    --background-color: hsl(0, 0%, 97%);
    --heading-color: var(--color-base);
    --text-color: #ffa86a;
    --text-color: #384151;
    --link-color: var(--color-base);
    --visited-color: color-mix(
      in srgb,
      var(--text-color) 90%,
      var(--color-base)
    );
    --code-background-color: #222129;
    --code-color: var(--background-color);
  }
}

body {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: var(--link-color);
}

a:hover {
  text-decoration-thickness: 3px;
}

main {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-width: 6px;
  border-color: var(--link-color);
  border-style: ridge;
  border-radius: 4px;
}

nav a {
  margin-right: 8px;
}

strong,
b {
  color: var(--heading-color);
}

button {
  margin: 0;
  cursor: pointer;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

code {
  font-family: var(--font-monospace);
  font-size: 0.9em;
  padding: 2px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
}

blockquote {
  border-top: 1px solid var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
  color: var(--text-color);
  padding: 20px;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer > :not(#footer-directive) {
  opacity: 0.6;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.4em;
  padding: 5px 10px;
  background: var(--heading-color);
  color: var(--background-color);
  display: inline-block;
  font-weight: 600;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

.highlight {
  /* border-left: 5px solid var(--heading-color); */
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 20px;
}

ul.blog-posts li time {
  font-style: normal;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px dashed var(--heading-color);
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul.blog-posts li {
    flex-direction: column;
  }

  ul.blog-posts li span {
    flex: unset;
  }
}

/* Custom stuff */

footer {
  text-align: center;
}

footer img {
  display: initial;
  vertical-align: middle;
}

footer p {
  text-align: center;
}

.pixel {
  image-rendering: pixelated;
}

/* images with captions */

.rehype-figure {
  text-align: center;
}

.rehype-figure video {
  max-width: 100%;
}

:is(.rehype-figure, figure) figcaption,
figcaption {
  text-align: center;
}

:is(.rehype-figure, figure) > :is(video, img) {
  margin: 0 auto;
}

:is(.rehype-figure, figure) figcaption a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

:is(.rehype-figure, figure) figcaption a .external-icon {
  width: 16px;
  height: 16px;
}

/* Links / buttons stuff */

.page.links main .buttons {
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media (max-width: 480px) {
  .page.links main .buttons {
    justify-content: center;
  }
}

.eggbug-buttons {
  text-align: center;
  margin: 20px 0;
}

.eggbug-button {
  vertical-align: middle;
}

/* Webring widget */

#myWebRing {
  margin: 10px auto;
  font-family: var(--font-main) !important;
  background: transparent !important;
  border-width: 4px;
  border-color: var(--link-color);
  border-style: ridge;
  border-radius: 4px;
  width: 400px !important;
}

@media (max-width: 480px) {
  #myWebRing {
    width: 300px !important;
  }
}

#myWebRing img {
  display: none;
}

#myWebRing > div:first-child {
  background-image: url("https://gumdisease.neocities.org/images/eggbug.png");
  background-position: right center;
  background-repeat: no-repeat;
}

#myWebRing > div:last-child {
  background-color: var(--link-color) !important;
  height: 26px !important;
}
