/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css");

/* Extra styles */
@import url("./pygments.css");

/* common variables */
:root {
  --width: 80ch;
  --font-main: "Hack", monospace;
  --font-monospace: "Hack", monospace;
  --font-secondary: "Atkinson Hyperlegible", monospace;
  --border-radius: 6px;
}

/* colors */
:root {
  --color-base: hsl(343, 81%, 40%);
  --background-color: #222129;
  --heading-color: var(--color-base);
  --text-color: #ffa86a;
  --text-color: #d1d5db;
  --link-color: var(--color-base);
  --visited-color: color-mix(in srgb, var(--text-color) 90%, var(--color-base));
  --code-background-color: hsl(343, 20%, 20%);
  --code-color: #d1d5db;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-base: #be133c;
    --background-color: hsl(0, 0%, 97%);
    --heading-color: var(--color-base);
    --text-color: #ffa86a;
    --text-color: #384151;
    --link-color: var(--color-base);
    --visited-color: color-mix(
      in srgb,
      var(--text-color) 90%,
      var(--color-base)
    );
    --code-background-color: #222129;
    --code-color: var(--background-color);
  }
}

body {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: var(--link-color);

  &:hover {
    text-decoration-thickness: 3px;
  }
}

main {
  margin-top: 40px;
  padding: 0 30px;
  padding-bottom: 20px;
  border-width: 3px;
  border-color: var(--link-color);
  border-style: ridge;
  border-radius: 0;
}

main small .tags {
  display: none;
}

nav a {
  margin-right: 8px;
}

strong,
b {
  color: var(--heading-color);
}

button {
  margin: 0;
  cursor: pointer;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

code {
  font-family: var(--font-monospace);
  font-size: 0.9em;
  padding: 2px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
}

blockquote {
  border-left: 2px solid
    color-mix(in srgb, var(--text-color) 75%, var(--heading-color));
  border-left-style: outset;
  color: var(--text-color);
  padding: 0 20px;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;

  & p:first-of-type:before {
    content: open-quote;
  }
  & p:last-of-type:after {
    content: close-quote;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer > :not(#footer-directive) {
  opacity: 0.6;
}

.title:hover {
  text-decoration: none;
}

header .title h1 {
  font-size: 1.4em;
  padding: 5px 10px;
  background: var(--heading-color);
  color: var(--background-color);
  font-weight: 600;
  border-radius: calc(var(--border-radius) * 2);
}

header .title {
  display: inline-flex;
  align-items: center;
}

.title::before {
  margin-right: 15px;
  content: "";
  display: block;
  background: url("https://bear-images.sfo2.cdn.digitaloceanspaces.com/damien/sakamoto-square.webp")
    no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 9999999px;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

.code {
  background-color: var(--code-background-color);
  color: var(--code-color);
}

.highlight {
  border: 1px solid var(--link-color);
  border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    border: 1px solid color-mix(in srgb, black 40%, var(--link-color));
  }
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 20px;
}

ul.blog-posts li time {
  font-style: normal;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px dashed var(--heading-color);
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul.blog-posts li {
    flex-direction: column;
  }

  ul.blog-posts li span {
    flex: unset;
  }
}

/* Custom stuff */

footer {
  text-align: center;
}

footer img {
  display: initial;
  vertical-align: middle;
}

footer p {
  text-align: center;
}

.pixel {
  image-rendering: pixelated;
}

/* images with captions */

.rehype-figure {
  text-align: center;
}

.rehype-figure video {
  max-width: 100%;
}

:is(.rehype-figure, figure) figcaption,
figcaption {
  text-align: center;
}

:is(.rehype-figure, figure) > :is(video, img) {
  margin: 0 auto;
}

:is(.rehype-figure, figure) figcaption a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

:is(.rehype-figure, figure) figcaption a .external-icon {
  width: 16px;
  height: 16px;
}

/* Links / buttons stuff */

.page.links main .buttons {
  text-wrap: balance;
  text-align: center;
  line-height: 20px;
}

.page.links main .buttons > :is(a, img) {
  margin: 2px;
}

.eggbug-buttons {
  text-align: center;
  margin: 20px 0;
}

.eggbug-button {
  vertical-align: middle;
}

.buttons-mybutton-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 14px;
  gap: 4px;
}

.buttons-mybutton {
  text-align: center;
  margin-bottom: 20px;
}

/* Webring widget */

#myWebRing {
  margin: 10px auto;
  font-family: var(--font-main) !important;
  background: transparent !important;
  border-width: 4px;
  border-color: var(--link-color);
  border-style: ridge;
  border-radius: var(--border-radius);
  width: 400px !important;
}

@media (max-width: 480px) {
  #myWebRing {
    width: 300px !important;
  }
}

#myWebRing img {
  display: none;
}

#myWebRing > div:first-child {
  background-image: url("https://gumdisease.neocities.org/images/eggbug.png");
  background-position: right center;
  background-repeat: no-repeat;
}

#myWebRing b {
  color: inherit !important;
}

#myWebRing > div:last-child {
  background-color: var(--link-color) !important;
  height: 26px !important;
}

/* Gallery stuff */
.gallery ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 8px;
  padding: 20px 0;
  list-style: none;
}

@media (max-width: 480px) {
  .gallery ul {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
}

.big-image + .gallery ul {
  margin: 0;
  padding-top: 0;
}

.gallery.col-1 ul,
.col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.gallery.col-2 ul,
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery.col-3 ul,
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery.col-4 ul,
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery li {
  position: relative;
  flex-basis: calc(50% - 20px);
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Comentario overrides */
body main .comentario-root.comentario-root {
  /* Remove background behind composer wrapper */
  --cmntr-bg: transparent;

  /* Tweak color in light mode */
  @media (prefers-color-scheme: light) {
    --cmntr-bg-shade: white;
  }

  /* Theme-specific: Remove background behind `code` element inside code blocks */
  pre code {
    background-color: transparent;
    color: inherit;
  }

  /* Theme-specific: Remove border around blockquote */
  blockquote {
    border-top: transparent;
    border-bottom: transparent;
  }

  /* Add quotes around blockquote content */
  blockquote p:first-of-type:before {
    content: open-quote;
  }
  blockquote p:last-of-type:after {
    content: close-quote;
  }

  /* Remove red border when textarea is invalid but still empty */
  textarea.comentario-touched:invalid:empty,
  .comentario-add-comment-host:not(.comentario-editor-inserted),
  textarea {
    border: 1px solid #959595;
  }
  @media (prefers-color-scheme: dark) {
    textarea.comentario-touched:invalid:empty,
    .comentario-add-comment-host:not(.comentario-editor-inserted),
    textarea {
      border: 1px solid #4a4a4a;
    }
  }

  /* 
    Only transition the color-related properties of the textarea.
    Prevents the resizing of the textarea from feeling "laggy".
   */
  textarea {
    transition-property: box-shadow, color, background-color, border,
      border-color;
  }

  /* Tweak background color of textarea */
  .comentario-add-comment-host:not(.comentario-editor-inserted),
  textarea {
    --cmntr-input-bg: white;
    --cmntr-bg: white;
  }

  @media (prefers-color-scheme: dark) {
    .comentario-add-comment-host:not(.comentario-editor-inserted),
    textarea {
      --cmntr-input-bg: black;
      --cmntr-bg: black;
    }
  }

  /* Disable "children collapse" toggler. */
  .comentario-card-expand-toggler {
    pointer-events: none;
  }

  /* Hide colored borders. */
  [class*="comentario-border-"] {
    border-left-color: transparent !important;
  }

  /* Hide background behind toolbar in preview mode. */
  .comentario-toolbar.comentario-disabled:has(
      ~ .comentario-comment-editor-preview
    ) {
    background-color: transparent;
  }

  /* Make badges more legible */
  .comentario-badge {
    font-size: 10px;
    font-weight: bold;
  }

  /* Hide moderator badge */
  .comentario-badge-moderator {
    display: none;
  }

  /* Make badge more legible in dark mode */
  @media (prefers-color-scheme: dark) {
    .comentario-badge {
      color: black;
    }
  }

  /* Make author links fit nicer with the rest of the style */
  .comentario-card a.comentario-name {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: currentColor;
    }
  }

  /* Make links in comments less "aggressive" */
  .comentario-card-body a {
    color: inherit;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration-thickness: 2px;
      color: currentColor;
    }
  }

  /* Use site link color for "watermark" */
  .comentario-footer {
    --cmntr-link-color: var(--link-color);
    --cmntr-link-hover-color: color-mix(in srgb, black 20%, var(--link-color));
  }

  /* Hide sorting buttons
    TODO: show it again and find a way to make the buttons not ugly
  */
  .comentario-sort-bar {
    display: none;
  }
}
